<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h2>¡Bienvenido, {{ usuario }}!</h2>
        <p>Has iniciado sesión correctamente.</p>

        <img src="{{ url_for('static', filename='bienvenido.webp') }}" alt="Imagen de Bienvenida" class="welcome-image" width="800">
        <br>
        <br>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Cerrar Sesión</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
